<section class="initiative-list">
    <ul>
        {{ range .Pages }}
            <li class="initiative-list__item">
                {{ .Render "card" }}
            </li>
        {{ end }}
    </ul>
</section>