<a href="https://www.openstreetmap.org/#map=21/{{ index . 0 }}/{{ index . 1 }}">
    <iframe style="width: 100%;"
        src="https://www.openstreetmap.org/export/embed.html?marker={{ index . 0 }}/{{index . 1 }}"></iframe>
</a>
