/** Font Family **/
$font-family-text: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;;
$font-family-title: Garamond, Palatino, Georgia, "Times New Roman", serif;

/** Colors **/
// Defined in theme scss file, map is used to generate utility classes
$colors: (
 1: $color-1,
 2: $color-2,
 3: $color-3,
 4: $color-4,
 5: $color-5,
);

/** Responsive **/
$breakpoints: (
        xs: 576px,
        sm: 768px,
        md: 992px,
        lg: 1200px
);

/** Font Size **/
$font-size-base-desktop: 16px;
$font-size-base-mobile: 18px;

$font-size-xs: .75rem;
$font-size-sm: .875rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.285rem;

/** Elements **/

$info-item__icon-space: 2rem;
