.site-header {
  margin: 2.5rem auto;

  &__top {
    @include respond-above(xs) {
      align-items: center;
      display: flex;
    }
  }

  &__brand {
    display: block;
    margin-left: -40px;
    padding: 1rem 0 0;
    text-align: center;

    @include respond-above(xs) {
      margin-left: 0;
      padding: 0;
      text-align: left;
    }

    img {
      display: inline-block;
      max-width: 280px;
      min-height: 95px;
    }
  }

  &__left {
    h1 {
      margin: 0;

      a {
        text-decoration: none !important;
      }

      span {
        background-color: transparent;
        border: 0;
        color: transparent;
        font: 0/0 a;
        text-shadow: none;
      }
    }
  }

  &__right {
    align-items: center;
    display: flex;
    font-size: $font-size-xs;
    margin-left: auto;
    position: absolute;
    right: 1rem;
    top: 0;

    @include respond-above(xs) {
      font-size: $font-size-base-desktop;
      position: relative;
      right: 0;
    }
  }

  &__main-nav {
    ul {
      @include list-unstyled;
      display: flex;
    }

    &__item {
      font-weight: normal;
      margin-right: .5rem;
    }
  }

  .social-nav a {
    @include respond-below(xs) {
      height: 1.75rem;
      margin-right: .15rem;
      width: 1.75rem;
    }
  }
}