.site-nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  position: relative;

  &:before {
    @include respond-above(xs) {
      background-color: $front-color;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

  ul {
    @include list-unstyled;
    align-items: center;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0 1rem;
    position: relative;
    z-index: 1;

    @include respond-above(xs) {
      display: inline-flex;
      flex-direction: row;
    }
  }

  &__item {
    color: $front-color;
    display: block;
    font-family: $font-family-title;
    font-size: $font-size-lg;
    font-weight: normal;
    margin-bottom: .5rem;
    padding: .1rem .5rem;
    position: relative;
    text-decoration: none;

    @include respond-above(xs) {
      margin-bottom: 0;
      padding: .35rem .5rem;
    }

    &:before {
      bottom: 4px;
      content: '';
      height: 8px;
      left: .5rem;
      position: absolute;
      right: .5rem;
      transition: height .15s ease-out;
      z-index: 1;

      @include respond-above(xs) {
        bottom: 7px;
        height: 0;
      }
    }

    span {
      position: relative;
      z-index: 2;
    }

    &.active,
    &:hover,
    &:active,
    &:focus {
      &:before {
        height: 0;

        @include respond-above(xs) {
          height: 8px;
        }
      }
    }
  }
}