    <div class="category-summary">
        <h3 class="category-summary__title">
            <a class="before-bg-color-{{ .Page.Params.colorId }}" href="{{ .Page.Permalink }}">
                {{ with .Page.Params.Subtitle }}
                    {{- . -}}
                {{ else }}
                    {{- .Page.Title -}}
                {{ end }}
            </a>
        </h3>
        <div class="category-summary__content">
            <section class="initiative-list">
                <ul>
                    {{ range first 6 .Pages }}
                        <li class="initiative-list__item">
                            {{ .Render "card" }}
                        </li>
                    {{ end }}
                </ul>
            </section>
        </div>
        <p class="category-summary__cta">
            <a href="{{ .Page.Permalink }}" title="Voir toutes les initiatives de la catégorie {{ .Page.Title }}"
               class="button bg-color-{{ .Page.Params.colorId }}">
                Voir les {{ .Count }} initiatives
{{/*                Voir tout*/}}
            </a>
        </p>
    </div>