.button {
  background-color: $front-color;
  color: white;
  display: inline-block;
  font-size: $font-size-sm;
  font-weight: normal;
  letter-spacing: .2em;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;

  @include respond-above(xs) {
    padding: 1rem 4rem;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($front-color, 10%);
  }
}