.category-summary {
  @include vertical-trait(6rem);
  padding-bottom: 5rem;
  margin-bottom: 7rem;

  &__title {
    font-size: 2rem;
    margin-top: 0;
    text-align: center;

    @include respond-above(xs) {
      font-size: 2.25rem;
    }

    a {
      display: inline-block;
      position: relative;
      text-decoration: none;

      &:before {
        bottom: .2rem;
        content: '';
        height: .7rem;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;

        @include respond-above(xs) {
          height: 1rem;
        }
      }

    }
  }

  &__content {
  }

  &__cta {
    text-align: center;

    .button {
      color: rgba(black, .7);

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;

    &:after {
      content: none;
    }
  }
}