.hero-block {
  margin-bottom: 4rem;

  &__title-wrapper {
    @include vertical-trait;

    padding-bottom: 2rem;
    position: relative;
  }

  &__content-wrapper {
    position: relative;

    &:before {
      background-color: white;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    &--with-cta {
      &:before {
        @include respond-above(xs) {
          bottom: 25px;
        }
      }
    }
  }

  &__title {
    font-size: 2.25rem;
    margin-bottom: 0;
    margin-top: .2rem;
    position: relative;
    text-align: center;
  }

  &__cover {
    margin: 0;
    padding-top: 2.5rem;
    position: relative;
    text-align: center;

    img {
      display: block;
      height: auto;
      width: 100%;
    }

    figcaption {
      font-size: .65rem;
      opacity: .75;
      margin-top: .5rem;
      text-align: right;

      @include respond-above(xs) {
        bottom: 5px;
        color: white;
        margin-top: 0;
        position: absolute;
        right: 15px;
        transform: rotate(-90deg) translateX(100%);
        transform-origin: right;
      }
    }

    a {
      @include respond-above(xs) {
        color: white;
        font-weight: normal;
      }
    }
  }

  &__summary {
    background-color: white;
    margin: 0 auto;
    padding: 2rem 1rem 0;
    position: relative;
    text-align: center;

    @include respond-above(xs) {
      @include vertical-trait;

      border-top: solid $front-color 1px;
      margin-top: -60px;
      max-width: 620px;
      padding: 1.5rem 3rem 3rem;
      width: 80%;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 560px;
    padding: 3rem 0;
  }

  &__cta {
    padding: 2rem 0;
    text-align: center;

    @include respond-above(xs) {
      padding: 3rem 0 0;
    }
  }

  &--only {
    margin-bottom: -5rem; // compensate .site-content bottom padding

    .hero-block__content-wrapper {
      padding-bottom: 5rem;
    }
  }
}