.initiative-list {
  ul {
    @include list-unstyled;
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
    flex-direction: column;

    @include respond-above(xs) {
      flex-direction: row;
    }
  }

  &__item {
    padding: 0 1rem 2rem;

    @include respond-above(xs) {
      padding-bottom: 0;
      width: 33.33%;
    }
  }
}