.see-also {
  @include vertical-trait(100px, top);
  padding-top: 5rem;

  .suptitle {
    margin-bottom: 2rem;
  }

  &__content {

  }

  &__cta {
    display: block;
    margin-top: 2rem;
    text-align: center;
  }
}