<div class="hero-block">
    {{ $title := .Title }}
    <div class="hero-block__title-wrapper container">
        <h2 class="hero-block__suptitle suptitle">A la une</h2>
        <h3 class="hero-block__title">
            <a href="{{ $.Permalink }}" title="Voir l'article consacré à {{ $title }}" class="invert">
                {{ with .Params.Draft }}
                    [Brouillon]
                {{ end }}
                {{ $title }}
            </a>
        </h3>
    </div>
    <div class="hero-block__content-wrapper hero-block__content-wrapper--with-cta">
        <div class="container">
            {{ with .Resources.GetMatch "cover*" }}
                {{ $image := .Fill "780x400 q70" }}
                <figure class="hero-block__cover">
                    <a href="{{ $.Permalink }}" title="Voir l'article consacré à {{ $title }}">
                        <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}"
                             alt="Couverture de l'initiative {{ $title }}"/>
                    </a>
                    {{ with $.Params.CoverCredits }}
                        <figcaption>
                            Photo:
                            <a href="{{ $.Params.CoverCredits.url }}" target="_blank">
                                {{ $.Params.CoverCredits.name }}
                            </a>
                        </figcaption>
                    {{ end }}
                </figure>
            {{ end }}
            <p class="hero-block__summary">
                {{ .Summary }}
            </p>
            <p class="hero-block__cta">
                <a href="{{ .Permalink }}" class="button">
                    En savoir plus
                </a>
            </p>
        </div>
    </div>
</div>