{{ define "main" }}
    <div class="hero-block hero-block--only">
        <div class="hero-block__title-wrapper container">
            <h3 class="hero-block__title">
                {{ .Title }}
            </h3>
        </div>
        <div class="hero-block__content-wrapper">
            <div class="container">
                <div class="hero-block__content type">
                    <p>
                        <strong>
                            {{ $.Params.Summary }}
                        </strong>
                    </p>

{{/*                    {{ with .Resources.GetMatch "cover*" }}*/}}
{{/*                        <figure>*/}}
{{/*                            {{ $image := .Resize "560x" }}*/}}
{{/*                            <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}"*/}}
{{/*                                 height="{{ $image.Height }}" alt="{{ $.Title }}"/>*/}}
{{/*                        </figure>*/}}
{{/*                    {{ end }}*/}}

                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
{{ end }}