.initiative {
  background-color: white;
  position: relative;

  @include respond-above(xs) {
    background-color: transparent;
  }

  &:before {
    @include respond-above(xs) {
      background-color: white;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 77px;
      z-index: -1;
    }
  }

  &__header {
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 0;
    padding: 2rem 0;

    @include respond-above(xs) {
      @include vertical-trait;
      font-size: 2.25rem;
      margin-bottom: 2rem;
      padding-top: 0;
    }
  }

  &__summary {
    font-family: $font-family-title;
    font-size: $font-size-xl;
    margin: 3rem auto 2rem;
  }

  &__tag-list {
    margin-bottom: 2rem;
  }

  &__cover {
    margin: 0;

    img {
      height: auto;
      width: 100%;
    }

    &__video {
      @include aspect-ratio-box;
      display: flex;
    }
  }

  &__thumbnails {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));

    @include respond-above(xs) {
      grid-template-columns: repeat(7, minmax(40px, 1fr));
    }

    a {
      display: block;
      text-decoration: none;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }

    svg {
      max-height: 1.5em;
    }
  }

  &__video-thumbnail {
    align-items: center;
    background-color: $front-color;
    color: white;
    display: flex !important;
    justify-content: center;
  }

  &__text {
    margin-top: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    padding-bottom: 2rem;

    @include respond-above(xs) {
      flex-direction: row;
      padding-bottom: 200px;
    }

    .initiative__tag-list {
      margin-top: 2rem;
    }
  }

  &__left {
    flex-basis: 58%;
  }

  &__right {
    flex-basis: 38%;

    @include respond-below(xs) {
      border-top: solid $front-color 1px;
      margin-top: 3rem;
      padding-top: 3rem;
    }
  }

  &__cta {
    margin-bottom: 2rem;
    width: 100%;

    .button {
      display: block;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      width: 100%;
    }
  }

  &__social-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link-group {
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    position: relative;

    &:after {
      background-color: $front-color;
      bottom: 0;
      content: '';
      height: 1px;
      left: $info-item__icon-space;
      position: absolute;
      width: 60px;
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}