*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: $font-family-text;
  font-size: $font-size-base-mobile;
  line-height: 1.25;

  @include respond-above(xs) {
    font-size: $font-size-base-desktop;
  }
}

body {
  background-color: $background-color;
  color: $front-color;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-title;
  font-weight: lighter;

  a {
    font-weight: lighter;
  }
}

a {
  color: $front-color;
  font-weight: bold;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &.invert {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}