.type {
  font-size: 18px;
  line-height: 1.4;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-text;
    font-weight: normal;
    margin-bottom: .5em;
    margin-top: 1em;
  }

  h1 {
    font-size: 1.75em;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.3em;
    font-weight: bold;
  }

  h3 {
    font-size: 1em;
    font-weight: bold;
  }

  h4 {
    font-size: .8em;
    font-weight: bold;
  }

  h5, h6 {
    font-size: .8em;
  }

  p {
    margin-bottom: 1em;
  }

  figure {
    margin: 3rem 0;

    img {
      height: auto;
      width: 100%;
    }

    figcaption {
      font-size: 1rem;
      font-style: italic;
    }
  }
}