.info-item {
  display: flex;
  margin-bottom: .75rem;

  &__title {
    font-family: $font-family-text;
    font-weight: bold;
    margin: 0 0 .5rem;
  }

  &__icon {
    min-width: $info-item__icon-space;
  }

  svg {
    max-height: 1em;
    margin-top: 3px;
  }

  &__content {
    a {
      font-weight: normal;
    }
  }

  p {
    margin-bottom: 0;
  }
}