<footer class="site-footer">
    {{ $aboutPage := .GetPage "about" }}
    <div class="container container-sm">
        <h2 class="site-footer__title" aria-hidden="true">{{ .Site.Title }}</h2>
        <p class="site-footer__about">
            {{ $aboutPage.Params.Summary }}
        </p>
        <p class="site-footer__cta">
            <a href="{{ $aboutPage.Permalink }}" title="En savoir plus" class="button">
                En savoir plus
            </a>
        </p>
        {{ partial "social_nav.html" . }}
    </div>
</footer>