<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60681433-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-60681433-2');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <title>
    {{ if .IsHome }}
      {{ .Site.Title }} - {{ .Site.Params.Subtitle }}
    {{ else }}
      {{ .Page.Title }} - {{ .Site.Title }}
    {{ end }}
  </title>

  <meta name="description" content="{{ .Site.Params.Description }}">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="alternate icon" href="/favicon.ico">

  {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" true) }}
  {{ $style := resources.Get "scss/main.scss" | toCSS $options }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>